#floating-panel {
  position: absolute;
  top: 10px;
  left: 70%;
  z-index: 1000;
  background-color: #fff;
}

#select-panel {
  position: absolute;
  top: 100px;
  left: 70%;
  z-index: 1000;
  background-color: #fff;
}

body {
	padding: 0;
	margin: 0;
}